which stack &>/dev/null
if [[ "$?" -eq 1 ]]; then
    # install stack
    curl -sSL https://get.haskellstack.org/ | sh
fi

# I tried to use docker with stack. It didn't work at the first try.
# Install everything on the host machine.

# https://github.com/commercialhaskell/stack/issues/5497#issuecomment-1076837441
# docker pull fpco/stack-build:lts-18.28

# Please be patient while GHC is compiled. It will take a while.
# stack --docker build

